<table class="table code">
<tbody>
	{% set prev_year = 2001 %}
	{% for entry in entries %}
	{% if entry.fields['code'] %}
	<tr>
		<td class="publication">
			<span class="pubtitle">
				{%- set url = entry|main_url %}
				<img style="float: left;margin-right: 15px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);border-radius: 10px;width: 150px;height: 150px" src="{{ url.base }}/img/publications/{{ entry.fields['icon'] }}" alt="PDF"/>
				<a href="{{ url|escape }}">{{ entry|title }}</a>.
			</span><br />
			<span class="authors">
				<i> {{ entry.persons['author']|author_list }}. </i>
			</span><br />
			<span class="venuetype">{{ entry|venue_type -}}</span><span class="venue">{{ entry|venue -}}</span>,
			{{ entry.fields['year']|escape }}.
			{%- if entry.fields['note'] %}
			<span class="note">
			{{ entry.fields['note']|escape }}.
			</span>
			{%- endif %}
			<br />
			<span class="fa fa-fw fa-code"></span><a target="_blank" href="{{ entry.fields['code']|escape }}">[code]</a>
			<span class="fa fa-fw fa-file-pdf-o"></span><a target="_blank" href="{{ url|escape }}">[pdf]</a>
			{% if entry.fields['presentation'] %}
			<span class="fa fa-fw fa-powerpoint-o"></span><a target="_blank" href="{{ entry.fields['presentation']|escape }}">[presentation]</a>
			{% endif %}
			{% if entry.fields['poster'] %}
			<span class="fa fa-fw fa-image"></span><a target="_blank" href="{{ entry.fields['poster']|escape }}">[poster]</a>
			{% endif %}
			{% if entry.fields['video'] %}
			<span class="fa fa-fw fa-video-camera"></span><a target="_blank" href="{{ entry.fields['video']|escape }}">[video]</a>
			{% endif %}
			</p>
		<td>
	</tr>
	{% endif %}
	{% endfor %}
</tbody>
</table>
