{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}


<style type="text/css">

  table {
    border: none;
    table-layout: fixed;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

  }


  td img{
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
  h1 {
    font-weight:300;
  }

  p {
    margin:0;
    font-size: 16px;
    text-align: justify;
    valign:"top";

  }

  p.dates {
    color: #D3D3D3;
    font-size: 14px;
    text-align: justify;
    valign:"top";

  }

  p.position {


  }


  td { text-align: left;
    vertical-align: center;
    border: none;
    margin-bottom: 500px

  }

  #rcorners1 {
    border-radius: 25px;
    background: #73AD21;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

  }



  }
</style>


<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">


    <h2 class="archive__item-title" itemprop="headline">

     {{title}}
    </h2>

    {% if post.excerpt and site.read_more != 'enabled' %}

      {{ post.excerpt | markdownify }}


    {% endif %}
 </article>
</div>
