{% include base_path %}

{% if post.header.teaser %}
{% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
{% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
{% assign title = post.title | markdownify | remove: "<p class="title">" | remove: "</p>" %}
{% else %}
{% assign title = post.title %}
{% endif %}
<style type="text/css">
    #rcorners1 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
    }
</style>

<div class="{{ include.type | default: "list" }}__item">

<article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
{{title}}:
{% for item in post.items %}
<spann id="rcorners1">{{ item }}</span>
{% endfor %}

</article>
</div>
