{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}


<style type="text/css">



  img.research {
    width: 100%;
  }
  p.text {
    margin-bottom: 1em;
    font-size: 16px;
    text-align: justify;
    valign:"top";

  }

  table.TabResearch {
    border: none;
    table-layout: fixed;
    width: 100%;

  }

  td img{
    display: block;
    margin-left: auto;
    margin-right: auto;

  }




</style>



<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">


    <h2 class="archive__item-title" itemprop="headline">
     {{title}}
    </h2>

    {% if post.excerpt and site.read_more != 'enabled' %}

      {{ post.excerpt | markdownify }}


    {% endif %}
 </article>
</div>
